[Desktop Entry]
Encoding=UTF-8
Name=System Upgrade
Comment=Upgrade the Entire System Using Topgrade!
Exec=xterm -fa 'Monospace' -fs 15 -e /bin/bash -l -c "topgrade"
Type=XSession
